# Binaries
bin/
supervisor-proxy
llm-supervisor-proxy
/proxy
mock

# macOS
.DS_Store

# Go
go.sum
vendor/
test_output.txt

*.txt
# Frontend
/pkg/ui/frontend/node_modules/
/pkg/ui/frontend/dist/

# Built static files (uncomment to ignore built files)
# /pkg/ui/static/

cmd/__debug_bin*